In [1]:
import numpy as np
import pandas as pd

In [13]:
df=pd.read_csv(r"C:\Users\user\Desktop\workspace\ML practice\Datasets\customer.csv")

In [14]:
df.sample(5)

    age  gender review education purchased
23   96  Female   Good    School        No
14   15    Male   Poor        PG       Yes
18   19    Male   Good    School        No
19   97    Male   Poor        PG       Yes
42   30  Female   Good        PG       Yes

In [15]:
df=df.iloc[:,2:4]

In [16]:
df.head()

    review education
0  Average    School
1     Poor        UG
2     Good        PG
3     Good        PG
4  Average        UG

In [9]:
from sklearn.preprocessing import OrdinalEncoder

In [17]:
oe=OrdinalEncoder(categories=[['Poor','Average','Good'],['PG','UG','School']])

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
df=oe.fit_transform(df)

In [20]:
df

array([[1., 2.],
       [0., 1.],
       [2., 0.],
       [2., 0.],
       [1., 1.],
       [1., 2.],
       [2., 2.],
       [0., 2.],
       [1., 1.],
       [2., 1.],
       [2., 1.],
       [2., 1.],
       [0., 2.],
       [1., 2.],
       [0., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [2., 2.],
       [0., 0.],
       [1., 2.],
       [1., 0.],
       [0., 0.],
       [2., 2.],
       [1., 0.],
       [2., 2.],
       [0., 0.],
       [0., 0.],
       [0., 2.],
       [1., 1.],
       [1., 1.],
       [0., 2.],
       [1., 1.],
       [2., 0.],
       [1., 2.],
       [0., 2.],
       [2., 1.],
       [1., 0.],
       [2., 2.],
       [0., 0.],
       [2., 2.],
       [2., 0.],
       [2., 0.],
       [0., 0.],
       [1., 1.],
       [0., 0.],
       [0., 0.],
       [2., 0.],
       [2., 1.],
       [2., 1.]])

In [21]:
y=df[:,-1]

In [22]:
y

array([2., 1., 0., 0., 1., 2., 2., 2., 1., 1., 1., 1., 2., 2., 0., 1., 1.,
       1., 2., 0., 2., 0., 0., 2., 0., 2., 0., 0., 2., 1., 1., 2., 1., 0.,
       2., 2., 1., 0., 2., 0., 2., 0., 0., 0., 1., 0., 0., 0., 1., 1.])

In [23]:
from sklearn.preprocessing import LabelEncoder

In [24]:
le=LabelEncoder()